@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #6A5ACD;
  --color-secondary: #F7FAFF;
}


@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #8A79FF;    /* Slightly brighter shade of your primary */
  --color-secondary: #1A1A2E;  /* Dark navy/blue-black for background */
}